<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" >
    <style>
    .name{
        margin-top: 150px;
    }
    .borders{
        border: black solid 5px;
    }
    </style>
</head>
<body>
    
        <main role="main"class="name jumbotron -body text-center m-lg-5">
                <div class="container">
                    <br>
                    <br>
                    <br>
                    <br>

                  <h1 class=" borders jumbotron-body">The Current Date and Time is  </h1>
                  <div class = borders>
                  <h1 style=font-size:95px class="jumbotron-body">{{time}}</h1>
                  <h1 style=font-size:95px class="jumbotron-body">{{clock}}</h1>
                </div>
                 
                  <br>
                  <br>
                  <br>
                  <br>
                  
                </div>
            </main>

       

</body>
</html>