<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

        <h1>Index Page</h1>
        <h3>Create a User</h3>
            <form action='/users' method='post'>
            Name: <input type='text' name='name'>
            Email: <input type='text' name='email'>
            <input type='submit' value='create user'>
        </form>

        <h1>Show Page</h1>
        <h3>Info Submitted:</h3>
            <p>Name: {{ name_on_template }}</p>
            <p>Email: {{ email_on_template }}</p>

</body>
</html>