<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}"> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
    <style>
    
            table tr td {
                width: 50px;
                height: 50px;
            }

            .color0{
                background-color:blue; 
            }
            .color1{
                background-color: yellow
            }
    </style>


</head>
<body>
    <table> 
        {% for i in range(12): %}
            <tr>
                    {% for j in range(12): %}
                    <td class="color{{(i+j)%2}}">
                    </td>
                    {% endfor %} 
            </tr>
        {% endfor %} 
    </table>  

</body>
</html>